<h1>餐廳後台</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <table class="table table-striped table-condensed">
          <%= restaurant.name %>
          <tr>


    <td><%= link_to 'Show', admin_restaurant_path(restaurant) %></td>
      <td><%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %></td>
      <td><%= link_to 'Delete', admin_restaurant_path(restaurant), method: :delete, data: {confirm:"Are you sure?"} %></td>

</tr>
  <% end %>
  </table>
</ul>
<%= paginate @restaurants %><br>
<%= link_to 'New Restaurant', new_admin_restaurant_path %>
